<div>
  <div fxFlex="48">
    <mat-card style="background-color: lightgrey; margin: 10px ; font-family: 'Arial'" [hidden]="showDue">
      <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="30px" fxLayoutGap.xs="0" style =" margin-bottom: 25px">
<!--        <mat-form-field class="example-full-width">-->
<!--          <input matInput placeholder="Search..." [(ngModel)]="searchString" name="search" type="text" autofocus>-->
<!--        </mat-form-field>-->
        <div class="input-group rounded"  style = "width: 60% ;">
          <input type="search" class="form-control rounded" placeholder="Search Student" aria-label="Search"
                 [(ngModel)]="searchString"  aria-describedby="search-addon" />
        </div>

<!--        <mat-form-field class="example-full-width">-->
<!--          <input matInput placeholder="Items per page" [(ngModel)]="pageSize" name="PageSize" type="text">-->
<!--        </mat-form-field>-->
      </div>
      <table class="table table-hover" style="color: midnightblue ;">
        <thead class="thead-dark" style ="font-weight: bolder ; font-size: medium">
          <th>SL. No</th>
          <th>Student Name</th>
          <th>Contact</th>
<!--          <th>Effective Date</th>-->
<!--          <th>Closing Date</th>-->
          <th>Enter Fees</th>
        </thead>
        <tbody>
          <tr  style="font-size: small ; font-weight: bolder" *ngFor=" let indexOfElement = index ;let item of studentList | filter : searchString | paginate: { itemsPerPage: pageSize, currentPage: p } ">
            <td>{{indexOfElement+1}}</td>
            <td>{{item.student_name}}</td>
            <td>{{item.contact}}</td>
<!--            <td>{{item.effective_date === null ?'not joined': item.effective_date | date: 'dd/MM/yyyy' }}</td>-->
<!--            <td>{{item.closing_date }}</td>-->
            <td>
              <button mat-button (click)="populateFeesFormByStudent(item)"><mat-icon>arrow_forward</mat-icon></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div fxLayout.xs="column" fxLayout="column" fxFlexFill>
        <!--    https://www.npmjs.com/package/ngx-pagination-->
        <!--    npm i ngx-pagination-->
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        <pagination-controls  id="some_id"
                              (pageChange)="p=($event)"
                              maxSize="5"
                              directionLinks="true"
                              autoHide="true"
                              responsive="true"
                              previousLabel="Previous"
                              nextLabel="Next"
                              screenReaderPaginationLabel="Pagination"
                              screenReaderPageLabel="page"
                              screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </div>
    </mat-card>
    <mat-card style="background-color: silver ;margin: 10px ; color: darkblue ; font-family: 'Arial Rounded MT Bold'" [hidden]="!showDue" *ngIf="dueByStudent" >
      <div style="text-align: center ; margin-bottom: 20px ;">
        <h3>{{dueByStudent[0].course_name}} &nbsp;({{dueByStudent[0].type}})</h3>
      </div>
      <div class="d-flex">
        <div class="col-4" style="text-align: left">
          <p>Course Fee : {{dueByStudent[0].fees_for_student}}</p>
        </div>
<!--        <div class="col-1"></div>-->
        <div class="col-8" style="text-align: right">
          <p> Course Status :{{dueByStudent[0].inforce === 1? 'Active' : 'Inactive'}}</p>
        </div>
      </div>
      <div class="d-flex">
        <div class="col-6" style="text-align: left">
          <p>Effective Date : {{dueByStudent[0].effective_date | date: 'dd/MM/yyyy'}}</p>
        </div>
<!--        <div class="col-4"></div>-->
        <div class="col-6" style="text-align: right">
          <p>Closing Date : {{dueByStudent[0].closing_date === null ? 'N/A': dueByStudent[0].closing_date | date: 'dd/MM/yyyy'}}</p>
        </div>
      </div>
      <div style="text-align: center ;  width: 100%">
        <table class="table table-hover table-bordered due-table" *ngIf="dueByStudent[0].paid !== 0" style="width: 100%">
          <thead style="background-color: cornflowerblue">
          <th>SL No.</th>
          <th colspan="2">Payment Date</th>
          <th colspan="2">Paid</th>
          </thead>
          <tbody>
          <tr *ngFor="let item  of feesPaid ; let  indexOfElement=index">
            <td>{{indexOfElement+1}}</td>
            <td colspan="2">{{item.date | date: 'dd/MM/yyyy'}}</td>
            <td colspan="2">₹ {{item.fees_paid.toFixed(2)}}</td>
          </tr>
          <hr>
          <tr *ngIf="dueByStudent" style="background-color: darkseagreen">
            <td>Total Due: ₹  {{dueByStudent[0].totalDue}}</td>
<!--            <td>{{dueByStudent[0].totalDue}}</td>-->
            <td>Total Paid: ₹ {{dueByStudent[0].paid}}</td>
            <td> Discount: ₹ {{dueByStudent[0].discount}}</td>
            <td>Due: ₹ {{dueByStudent[0].due}}</td>
          </tr>
          </tbody>
        </table>
        <table class="table table-hover" *ngIf="dueByStudent[0].paid === 0">
          <tbody>
          <tr *ngIf="dueByStudent" style="background-color: darkseagreen">
            <!--          <td>Course Status:  </td>-->
            <!--          <td>{{dueByStudent[0].inforce === 1? 'Active' : 'Inactive'}}</td>-->
            <td>Total Fees:  </td>
            <td>₹ {{dueByStudent[0].totalDue}}</td>
            <td>Total Paid: </td>
            <td>₹  {{dueByStudent[0].paid}}</td>
            <td>Discount: </td>
            <td>₹  {{dueByStudent[0].discount}}</td>
            <td>Total Due: ₹ {{dueByStudent[0].due}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="input-group rounded"  style = "width: 60% ; padding: 30px" [hidden]="!showDiscount">
        <div fxFlex="60">
          <input type="search" class="form-control rounded" placeholder="Enter Discount"
                 [(ngModel)]="discount"  aria-describedby="search-addon" />
        </div>
        <div fxFlex="20"></div>
        <div fxFlex="20">
          <button  type="button" class="btn btn-outline-info" (click)="onSubmit(discount)">Save</button>
        </div>


      </div>
<!--      <div>-->
<!--        <input type="number" [(ngModel)]="discount">-->
<!--      </div>-->

      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="5px" fxLayoutGap.xs="0" style="padding-bottom: 5px ; padding-left: 40% ; padding-right: 40%">
        <button  type="button" class="btn btn-outline-info rounded-pill" [disabled]="dueByStudent[0].inforce !==0" [hidden]="showDiscount" (click)="setDiscount()">Set Discount</button>
        <button  type="button" class="btn btn-outline-success rounded-pill"  (click)="backToPrevious()">Back</button>
      </div>
    </mat-card>
  </div>
  <div fxFlex="50">
    <mat-card  style="background-color:#b3d9ff ; margin: 30px; width: 95%">
      <div [formGroup]="feesEntryForm">
         <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
          <div fxLayout="row" style="color: darkblue ; font-size: medium ; font-weight: bolder">
            <mat-form-field class="col-6">
              <input matInput placeholder="Student Name" formControlName="student_name" readonly>
            </mat-form-field>
            <mat-form-field class="col-4">
              <mat-label>Date</mat-label>
              <input matInput placeholder="Date" formControlName="date" readonly>
            </mat-form-field>
          </div>

            <table *ngIf="courseListByStudent.length > 0 " class="table table-hover" id ="feeEntry-table" style="font-family: 'Arial Rounded MT Bold'; font-size: small">
              <thead style="background-color: lightgray">
                <th colspan="2" h>SL NO.</th>
                <th colspan="2">Course</th>
                <th>Status</th>
                <th>Fees (₹)</th>
                <th colspan="2">Action</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of courseListByStudent ; let indexOfElement = index">
                  <td colspan="2">{{indexOfElement+1}}</td>
                  <td colspan="2">{{item.course_name}}</td>
                  <td [ngClass]="item.inforce === 1 ? 'active' : 'inactive'">{{item.inforce === 1? 'Active' : 'Inactive'}}</td>
                  <td>
                    <mat-form-field style="width: 60%">
                      <input matInput placeholder="Submit Fees" formControlName="fees" [readonly]="item.inforce === 0">
                    </mat-form-field>
                  </td>
                  <td>
                    <button type="button" class="btn btn-outline-info" (click)="submitFeesByStudent(item)" [disabled]="item.inforce === 0">Submit</button>
                  </td>
                  <td colspan="2">
                    <button type="button" class="btn btn-outline-info" (click)="viewDue(item)">View Due</button>
<!--                    <button mat-button style="background-color: aqua" [routerLink]="['/feesDue',item.student_id,item.course_id]">View Due</button>-->
                  </td>
<!--                  <td>-->
<!--                    <button mat-button style="background-color: aqua" (click)="setDiscount()">Set Discount</button>-->
<!--                  </td>-->
                </tr>
                </tbody>
            </table>
          </div>
          <div *ngIf="courseListByStudent.length ===0 && feesEntryForm.value.student_name" style="color: red ; text-align: center">
            <h6>No Course Chosen !!!</h6>
          </div>
          <div *ngIf="feesEntryForm.value.student_name === null" style="color: red ; text-align: center">
            <h6>No Student Chosen !!!</h6>
          </div>
          <div  [hidden] = "courseListByStudent.length === 0" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="5px" fxLayoutGap.xs="0" style="padding-bottom: 5px">
<!--            <button mat-raised-button (click)="submitFeesByStudent()" [disabled]="feesEntryForm.invalid">Save</button>-->
<!--            <button mat-raised-button (click)="submitFeesByStudent()">Save</button>-->
            <button mat-raised-button (click)="clearForm()" [disabled]="feesEntryForm.pristine">Clear</button>
            <button mat-raised-button  (click)="openDialog()" [disabled]="!isPrintReceiptEnabled">Print Receipt</button>

<!--            <button mat-raised-button (click)="openDialog()">Print </button>-->

<!--            <button mat-raised-button  (click)="openDialog()">Print Receipt</button>-->




          </div>
      </div>
    </mat-card>

  </div>
</div>
