<div *ngIf="billInfo"  id ="printBillDiv" style="max-height: 85vh">
  <h4 mat-dialog-title style="text-align: center">CODER</h4>
  <hr mat-dialog-title>
  <div mat-dialog-title style="text-align: center">Receipt</div>
  <div class="d-flex"  mat-dialog-title style="width: 100%">
    <div class="col-5" style="text-align: left ; font-weight: bolder">{{billInfo[0].student_name | uppercase}}</div>
    <div class="col-2"></div>
    <div class="col-5" style="text-align: right ;font-weight: bolder">BILL DATE : {{billInfo[0].date | date: 'dd-MM-YYYY'}}</div>
  </div>
  <div mat-dialog-content>
    <table  id ="bill-table" style= "width: 100% ; font-size: medium"  >
      <thead style="font-size: small">
      <th>DATE</th>
      <th>COURSE</th>
      <th>COURSE TYPE</th>
      <th>AMT PAID</th>
      <th>BALANCE DUE</th>
      <th></th>
      </thead>
      <tbody>
      <tr *ngFor="let item of billInfo ">
        <td>{{item.date | date: 'dd-MM-yyy'}}</td>
        <td>{{item.course_name}}</td>
        <td>{{item.type}}</td>
        <td>₹ {{item.fees_paid.toFixed(2)}}</td>
        <td>₹ {{item.due.toFixed(2)}}</td>
      </tr>
      <tr>
        <td>TOTAL AMOUNT PAID : </td>
        <td>(Rupees {{convert()}} only)</td>
        <td></td>
        <td>₹ {{totalAmountPaid.toFixed(2)}}</td>
      </tr>
      <tr></tr>
      </tbody>
    </table>
  </div>
</div>
<div style="text-align: center">
  <button mat-raised-button   [printStyle]="printDivStyle"
          printSectionId="printBillDiv"
          ngxPrint><mat-icon>print</mat-icon></button>
</div>


