<!--<div fxLayout.xs="column" fxLayout="row" fxFlexFill style="background-color: transparent">-->
<!--  <div fxFlex="20" >-->
<!--  </div>-->
<!--  <div fxFlex="60"  style="height: min-content">-->
<!--    <mat-card>-->
<!--      <h4>Welcome to CODER</h4>-->
<!--      <app-picture-carousel></app-picture-carousel>-->
<!--    </mat-card>-->
<!--  </div>-->
<!--  <div fxFlex="20">-->
<!--  </div>-->
<!--&lt;!&ndash;  <div fxFlex="60" style="background-color: rgba(0,0,0,0.91);">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="cards" fxLayout.xs="column" fxLayout="row wrap"  fxLayoutGap="20px"   fxLayoutAlign="start start">&ndash;&gt;-->



<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--</div>-->


<div style="background-color:black ; height: 100%">
  <div fxLayoutGap="20px" style="padding: 15px">
    <div fxFlex="30">
      <mat-card style="background-color: darkcyan">
        <div fxFlex="60">
          <img src="../../../assets/carousel/pic_1.jpg">
        </div>
        <div fxFlex="40">
          <ul>
            <li>C</li>
            <li>C++</li>
            <li>C#</li>
          </ul>
        </div>

      </mat-card>
    </div>
    <div fxFlex="40">
      <mat-card style="background-color: crimson">
        <div fxFlex="60">
          <img src="../../../assets/carousel/pic_2.jpg" height="207px">
        </div>
       <div fxFlex="40">
         <ul>
           <li>Java</li>
           <li>Sql</li>
           <li>Python</li>
         </ul>
       </div>
      </mat-card>
    </div>
    <div fxFlex="30">
      <mat-card style="background-color: darkslateblue">
        <div fxFlex="60">
          <img src="../../../assets/carousel/pic_3.jpg">
        </div>
        <div fxFlex="40">
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Bootstrap</li>
          </ul>
        </div>
      </mat-card>
    </div>
  </div>
  <div fxLayoutGap="20px" style="padding: 15px">
    <div fxFlex="40">
      <mat-card style="background-color: #e89e05">
        <div fxFlex="60">
          <img src="../../../assets/carousel/coding_1.jpg">
        </div>
        <div fxFlex="40">
          <ul>
            <li>C</li>
            <li>C++</li>
            <li>C#</li>
          </ul>
        </div>
      </mat-card>
    </div>
    <div fxFlex="25">
      <mat-card style="background-color: darkblue">
        <div fxFlex="60">
          <img src="../../../assets/carousel/coding_7.jpg">
        </div>
        <div fxFlex="40">
          <ul>
            <li>Java</li>
            <li>Sql</li>
            <li>Python</li>
          </ul>
        </div>


      </mat-card>
    </div>
    <div fxFlex="30">
      <mat-card style="background-color: darkorchid">
        <div fxFlex="60">
          <img src="../../../assets/carousel/coding_8.jpg">
        </div>
        <div fxFlex="40">
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Bootstrap</li>
          </ul>
        </div>
      </mat-card>
    </div>
  </div>
</div>



